<section>
    <div class="container">
        <div class="row mt-3">
            
            
        </div>
        <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      
     
      <td><a href="/admin/edit-user/{{this._id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a ><button type="button" class="btn btn-danger" onclick="alertMsg('{{this._id}}')">Delete</button></a></td>

    </tr>
    {{/each}}

</table>
    </div>
</section>

<script>
    function alertMsg(id){
        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your imaginary file has been deleted!", {
      icon: "success",
    });
    location.href="/admin/delete-user/"+id;
  } else {
    swal("Your imaginary file is safe!");
  }
});
    }
</script>