<section>
    <div class="container">
        <div class="row mt-3">
            <a href="/admin/add-product" class="btn btn-success ml-auto">Add products</a>
            
        </div>
        <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th>image</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Price}}</td>
      <td><img style="width:50px; height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
      <td><a href="/admin/edit-product/{{this._id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a ><button type="button" class="btn btn-danger" onclick="alertMsg('{{this._id}}')">Delete</button></a></td>
    </tr>
    {{/each}}

</table>
    </div>
</section>


<script>
    function alertMsg(id){
        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this  file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal(" Your  file has been deleted!", {
      icon: "success",
    });
    location.href="/admin/delete-product/"+id;
  } else {
    swal("Your file is safe!");
  }
});
    }
</script>